<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>0aa51ce0-ee7b-49c9-8ecf-4f93644f38c2</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>149795</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Pub</Key>
            <Value>1100002957</Value>
          </Property>
          <Property>
            <Key>Adspace</Key>
            <Value>130013652</Value>
          </Property>
        </Metadata>
        <Name>Smaato</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214291</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-E6B4F4E5-E9F3-44D8-A105-9597A3D58A5C</Id>
        <Name>AdMediator_C43C32</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>60</RefreshRate>
  <TestConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>test_client</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>0</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Pub</Key>
            <Value>0</Value>
          </Property>
          <Property>
            <Key>Adspace</Key>
            <Value>0</Value>
          </Property>
        </Metadata>
        <Name>Smaato</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-E6B4F4E5-E9F3-44D8-A105-9597A3D58A5C</Id>
        <Name>AdMediator_C43C32</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </TestConfiguration>
  <UpdatedDateTime>2015-05-01T12:43:49.3938916Z</UpdatedDateTime>
</AdMediatorConfiguration>