<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>0aa51ce0-ee7b-49c9-8ecf-4f93644f38c2</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Pub</Key>
            <Value>1100002957</Value>
          </Property>
          <Property>
            <Key>Adspace</Key>
            <Value>130013652</Value>
          </Property>
        </Metadata>
        <Name>Smaato</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>149795</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214140</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>300</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-6FC437E1-9A28-446A-9153-D59B0C3162EF</Id>
        <Name>AdMediator_7B92A5</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214140</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-53CAD2D6-6841-4CE7-A385-00C8C4992BDD</Id>
        <Name>AdMediator_BF3396</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214291</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-E6B4F4E5-E9F3-44D8-A105-9597A3D58A5C</Id>
        <Name>AdMediator_C43C32</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214292</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-690473B9-38E2-42C6-AFF4-F378B4C0953D</Id>
        <Name>AdMediator_0E9158</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214293</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-F10674FC-7CEA-4FED-BE20-25EF1F8763E1</Id>
        <Name>AdMediator_466CD4</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214299</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-93219471-817E-49A9-AB0C-C53F571C35B5</Id>
        <Name>AdMediator_86A432</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214294</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-B712D8C6-09A9-4F1B-8040-FC7B9963FE7E</Id>
        <Name>AdMediator_7D4B5D</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214295</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-2BFAD273-2CCC-4B09-936E-7ADE71527F13</Id>
        <Name>AdMediator_2A3777</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214296</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-5CA3311E-B623-4F80-9883-4ABEB8D9C30B</Id>
        <Name>AdMediator_EB6815</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214297</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-C9860746-C045-4779-B634-619A1B3F3615</Id>
        <Name>AdMediator_0BD59E</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>214298</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-F810D5C5-6197-42E7-9CA2-9C9E70CC5EFB</Id>
        <Name>AdMediator_AB33DD</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>60</RefreshRate>
  <TestConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>test_client</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Pub</Key>
            <Value>0</Value>
          </Property>
          <Property>
            <Key>Adspace</Key>
            <Value>0</Value>
          </Property>
        </Metadata>
        <Name>Smaato</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>0</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-6FC437E1-9A28-446A-9153-D59B0C3162EF</Id>
        <Name>AdMediator_7B92A5</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-53CAD2D6-6841-4CE7-A385-00C8C4992BDD</Id>
        <Name>AdMediator_BF3396</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-E6B4F4E5-E9F3-44D8-A105-9597A3D58A5C</Id>
        <Name>AdMediator_C43C32</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-690473B9-38E2-42C6-AFF4-F378B4C0953D</Id>
        <Name>AdMediator_0E9158</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-F10674FC-7CEA-4FED-BE20-25EF1F8763E1</Id>
        <Name>AdMediator_466CD4</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-93219471-817E-49A9-AB0C-C53F571C35B5</Id>
        <Name>AdMediator_86A432</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-B712D8C6-09A9-4F1B-8040-FC7B9963FE7E</Id>
        <Name>AdMediator_7D4B5D</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-2BFAD273-2CCC-4B09-936E-7ADE71527F13</Id>
        <Name>AdMediator_2A3777</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-5CA3311E-B623-4F80-9883-4ABEB8D9C30B</Id>
        <Name>AdMediator_EB6815</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-C9860746-C045-4779-B634-619A1B3F3615</Id>
        <Name>AdMediator_0BD59E</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-F810D5C5-6197-42E7-9CA2-9C9E70CC5EFB</Id>
        <Name>AdMediator_AB33DD</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </TestConfiguration>
  <UpdatedDateTime>2015-04-13T20:57:28.5503876Z</UpdatedDateTime>
</AdMediatorConfiguration>